*{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    font-weight: 300;
    transition: all .5s;
}

:root {
    --main-color: hotpink;
    --pane-padding: 5px 42px;
  }

  body{
    padding: 10vw;
    background: #000;
    color: #fff;
  }

  h1 a{
    font-size: .7rem;
    /* color: rgba(255, 255, 255, 1); */
  }
a{
    text-decoration: none;
    color: #fff;
}
 a:hover{
    opacity: .3;
  }
  h2 a{
    font-size: 5vw;
    /* color: rgba(255, 255, 255, 1); */
    word-wrap: break-word;
    margin: 5vw 0;
    /* width: 33%; */
    font-weight: 300;
    display: block;
    text-decoration: none;
  }
  h2 a:hover{
    /* font-size: 1vw; */
    /* color: rgba(255, 255, 255, .3); */
  }

  ul{
    font-size: .7rem;
    /* padding: 3vw 0; */
  }
  ul li{
    list-style: none;
    display: inline;
    margin: 0 1vw 0 0;
  }
  ul li a{
    text-decoration: none;
    /* color: rgba(255, 255, 255, 1); */
  }
  ul li a:hover{
    /* color: rgba(255, 255, 255, .5); */
    /* text-decoration: overline; */
  }